{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center" style="padding: 5%;">Assign a patient</h1>

    <!-- Search form -->
    <form style="padding: 20px;" class="text-center" action="{{ url_for('doctor_assignment') }}" method="GET">
        <input class="text-center" type="text" name="NRIC" placeholder="Enter NRIC" required>
        <button type="submit">Search</button>
    </form>

    {% if user %}
    <!-- Overlay Background -->
    <div class="overlay"></div>

    <!-- Mid-Screen Confirmation Box -->
    <div class="confirmation-box text-center">
        <h4>Confirm Patient</h4>
        <p><strong>NRIC:</strong> {{ user.id }}</p>
        <p><strong>Name:</strong> {{ user.username }}</p>
        <div class="btn-container">
            <a href="{{ url_for('confirm_patient', NRIC=user.id) }}" class="btn btn-primary">Confirm</a>
            <a href="{{ url_for('doctor_assignment') }}" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
    {% else %}
        <p class="text-center">No user found.</p>
    {% endif %}
{% endblock %}
