{% extends "base.html" %}

{% block title %}MedSync - Error{% endblock %}
{% block content %}
<div class="container-fluid h-100 d-flex align-items-center justify-content-center"></div>
    <div class="row justify-content-center align-items-center" style="padding-top: 7%;">
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='error_img.png') }}" class="img-fluid" alt="Error">
        </div>
        <div class="col-md-6">
            <div class="card-body" style="text-align: left;">
                <h2 class="display-1">{{ error_code }}</h2>
                <h3 class="mb-4">{{ message }}</h3>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
